<!DOCTYPE html>
<html>
<head>

    <title>Quick Start - Leaflet</title>

    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="shortcut icon" type="image/x-icon" href="docs/images/favicon.ico"/>

    <link rel="stylesheet" href="https://unpkg.com/leaflet@1.4.0/dist/leaflet.css"
          integrity="sha512-puBpdR0798OZvTTbP4A8Ix/l+A4dHDD0DGqYW6RQ+9jxkRFclaxxQb/SJAWZfWAkuyeQUytO7+7N4QKrDh+drA=="
          crossorigin=""/>
    <script src="https://unpkg.com/leaflet@1.4.0/dist/leaflet.js"
            integrity="sha512-QVftwZFqvtRNi0ZyCtsznlKSWOStnDORoefr1enyq5mVL4tmKB3S/EnC3rRJcxCPavG10IcrVGSmPh6Qw5lwrg=="
            crossorigin=""></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/2.2.4/jquery.min.js"></script>
    <style>
        * {
            margin: 0;
            padding: 0;
            border: 0;
        }

        html, body {
            height: 100%;
        }
    </style>
</head>
<body>


<div id="mapid" style="width: 100%; height: 100%;"></div>
<script>
    let colors = {};
    const marker = {
        color: 'red',
        fillColor: '#f03',
        fillOpacity: 0.5
    };
    var mymap = L.map('mapid').setView([57.011296, 9.993754], 20);

    L.tileLayer('https://api.tiles.mapbox.com/v4/{id}/{z}/{x}/{y}.png?access_token=pk.eyJ1IjoibWFwYm94IiwiYSI6ImNpejY4NXVycTA2emYycXBndHRqcmZ3N3gifQ.rJcFIG214AriISLbB6B5aw', {
        attribution: 'Map data &copy; <a href="https://www.openstreetmap.org/">OpenStreetMap</a> contributors, ' +
            '<a href="https://creativecommons.org/licenses/by-sa/2.0/">CC-BY-SA</a>, ' +
            'Imagery © <a href="https://www.mapbox.com/">Mapbox</a>',
        id: 'mapbox.streets'
    }).addTo(mymap);

    let features = L.featureGroup();
    features.addTo(mymap);

    $.getJSON("/scans", function (data) {
        for (let i = 0; i < data.length; i++) {
            let scan = data[i];
            L.circle([scan['lat'], scan['lon']], 1, marker).addTo(mymap);

            for (let j = 0; j < scan['data'].length; j++) {
                let hotspot = scan['data'][j];

                {#if (hotspot['distance'] > 20)#}
                {#    continue;#}

                let mac = hotspot['mac'];

                if (!(mac in colors)) {
                    colors[mac] = {
                        'color': '#' + Math.floor(Math.random() * 16777215).toString(16),
                        'points': L.featureGroup()
                    };
                }

                let color = colors[mac]['color'];

                let point = L.circle([scan['lat'], scan['lon']], hotspot['distance'], {
                    color: color,
                    fillOpacity: 0
                });

                colors[mac]['points'].addLayer(point);
            }
        }


        if (features.getLayers().length !== 0)
            mymap.fitBounds(features.getBounds());
    });

    function test(test) {
        let keyIdx = parseInt(test);
        if (keyIdx < Object.keys(colors).length) {
            var key = Object.keys(colors)[keyIdx];
            features.clearLayers();
            features.addLayer(colors[key]['points']);
        }
    }
</script>


</body>
</html>
